.l-main {
  margin-top: 15vh;
  padding-bottom: 10vh;
  font-family: "mycustomfont", sans-serif;
  color: var(--text-color);
}

.l-heading {
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-family: "mycustomfont", sans-serif;
  color: var(--primary-color);
}

.l-content {
  margin-top: 20px;
  font-family: "mycustomfont", sans-serif;
  font-size: larger;
}

.l-vid-holder {
  margin-top: 2vh;
}

.l-button {
  color: var(--primary-color);
}
