.feat-main {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 55vw;
  text-align: right;
  font-size: larger;
}

.cert-card {
  padding: 20px;
  display: flex;
  gap: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
}

.cert-heading {
  color: var(--primary-color);
}
.cert-image {
  max-width: 400px;
}

.cert-buttons {
  color: var(--text-color);
  margin-left: 10px;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.cert-buttons:hover {
  color: var(--primary-color);
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: var(--primary-color);
}
