.det-main {
  margin-top: 15vh;
  color: var(--text-color);
  font-size: larger;
  margin-bottom: 15vh;
}

.det-heading {
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: xx-large;
  color: var(--primary-color);
}

.det-sub-head {
  font-size: x-large;
  color: var(--primary-color);
}

.det-desc {
    margin-bottom: 50px;
}