.re-main {
  margin-top: 15vh;
  padding-bottom: 10vh;
  color: antiquewhite;
  font-size: larger;
}

.re-heading {
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
  color: rgb(252, 202, 138);
}