.home-main {
    margin-top: 15vh;
    color: antiquewhite;
}

.home-heading {
    font-size: xx-large;
}

.heading-content {
    margin-top: 20px;
    font-size: larger;
}

.education-heading {
    margin-top: 20px;
    font-size: xx-large;
}

.education-content {
    font-size: larger;
}