.home-main {
    margin-top: 15vh;
    padding-bottom: 10vh;
    color: antiquewhite;
}

.home-content {
    margin-top: 20px;
    font-size: larger;
}

.content-heading {
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: xx-large;
    color: rgb(252, 202, 138);
}

.section-title {
    font-size: larger;
    font-weight: 600;
    border-bottom: 2px solid antiquewhite;
    display: inline-block;
    margin-bottom: 20px;
}

.education-entry {
    margin-bottom: 20px;
}

.edu-level {
    font-size: larger;
    font-weight: 500;
    color: antiquewhite;
}

.edu-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    margin-top: 5px;
    border-bottom: 1px dashed rgba(250, 235, 215, 0.555);
    padding-bottom: 5px;
    color: antiquewhite;
}

.edu-score {
    font-weight: 600;
    color: rgb(252, 202, 138);
}
