.contact-main {
  color: var(--primary-color);
  font-family: "mycustomfont", sans-serif;
  background-color: --var(--background-color);
}

.contact-heading {
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
  color: var(--primary-color);
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: space-between;
}

.contact-reasons {
  color: var(--text-color);
}

.custom-toast {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  font-family: "mycustomfont", sans-serif !important;
  border-radius: 5px;
  border: 1px solid var(--text-color);
}

.Toastify__toast--success .Toastify__toast-icon {
  svg {
    fill: var(--primary-color) !important;
  }
}

.Toastify__toast--error .Toastify__toast-icon {
  svg {
    fill: var(--primary-color) !important;
  }
}

.contact-form {
  flex: 1;
  min-width: 280px;
  max-width: 400px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
  color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  resize: none;
}

.contact-form button {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "mycustomfont", sans-serif;
  font-size: large;
  border: 1px solid var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.contact-form button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.contact-eles {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.contact-words {
  margin-top: 30px;
  font-size: larger;
}

.contact-icons {
  display: flex;
  gap: 5vh;
  font-size: 1.5rem;
  justify-content: space-between;
}

.contact-icons a {
  color: var(--text-color);
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  text-decoration: none;
}

.contact-icons a:hover {
  transform: translateY(-4px);
  color: var(--primary-color);
}