.sidebar {
  position: fixed;
  left: 0;
  top: 0vh;
  width: 18vw;
  height: 100vh;
  background-color: #00000000;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
}

.side-title {
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-family: "mycustomfont", sans-serif;
  color: var(--primary-color);
}

.side-title-small {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  font-family: "mycustomfont", sans-serif;
  color: var(--primary-color);
}

.side-main {
  margin-top: 20px;
  font-size: larger;
  font-family: "mycustomfont", sans-serif;
  color: var(--text-color);
}

.side-anch {
  color: var(--text-color);
}

.side-hr  {
  color: var(--text-color);
}

.side-clock {
  position: fixed;
  margin-top: 35vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.sidebar.open {
  transform: translateX(0);
}

.firefly-toggle {
  background-color: #00000000; /* Dark background */
  color: var(--primary-color);
  border: 1px solid #00000000;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 10px; /* Space between clock and button */
  transition: color 0.5s ease-in-out;
}

.firefly-toggle:hover {

  color: var(--text-color);
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;   
  top: 5vh;          
  bottom: 5vh;       
  width: 2px;         
  background-color: var(--primary-color); 
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
