.cert-main {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  color: var(--text-color);
  font-family: "mycustomfont", sans-serif;
  font-size: larger;
}

.cert-button {
  text-decoration: none;
  color:var(--primary-color);
  display: block;
  transition: transform 0.2s ease-in-out;
}

.cert-button:hover {
  transform: translateY(-3px);
  color: var(--text-color);
}
