.cert-main {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  color: antiquewhite;
  font-family: "mycustomfont", sans-serif;
  font-size: larger;
}

.cert-button {
  text-decoration: none;
  color: rgb(252, 202, 138);
  display: block;
  transition: transform 0.2s ease-in-out;
}

.cert-button:hover {
  transform: translateY(-3px);
  color: antiquewhite;
}
