@font-face {
  font-family: "mycustomfont";
  src: url("../public/fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #f49939;
  --background-color: #000000;
  --text-color: #faebd7;
}

.theme-pastel-blue {
  --primary-color: #799EFF;
  --background-color: #FEFFC4;
  --text-color: #FFBC4C;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
