@font-face {
  font-family: "mycustomfont";
  src: url("../public/fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #f49939;
  --background-color: #000000;
  --text-color: #faebd7;
}

.theme-purple {
  --primary-color: #b13bff;
  --background-color: #090040;
  --text-color: #ffcc00;
}

.theme-navy {
  --primary-color: #818fb4;
  --background-color: #363062;
  --text-color: #f5e8c7;
}

.theme-pink {
  --primary-color: #f564a9;
  --background-color: #533b4d;
  --text-color: #fae3c6;
}

.theme-warm-purple {
  --primary-color: #d1512d;
  --background-color: #411530;
  --text-color: #f5c7a9;
}

.theme-blood {
  --primary-color: #FF0000;
  --background-color: #000000;
  --text-color: #950101;
}

.theme-coffee {
  --primary-color: #d5cea3;
  --background-color: #1a120b;
  --text-color: #e5e5cb;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
