@font-face {
  font-family: "mycustomfont";
  src: url("../public/fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #f49939;
  --background-color: #000000;
  --text-color: #faebd7;
}

.theme-purple {
  --primary-color: #B13BFF;
  --background-color: #090040;
  --text-color: #FFCC00;
}

.theme-navy{
  --primary-color: #818FB4;
  --background-color: #363062;
  --text-color: #F5E8C7;
}

.theme-pink {
  --primary-color: #F564A9;
  --background-color: #533B4D;
  --text-color: #FAE3C6;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
